*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header1{
    background-color: rgba(0, 0, 0, 0.8);
}
header{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header1 ul li a img{
    border-radius: 50%;
}
.Banner .banner_img img{
    width: 100%;
    height: 100vh;
}
.dropdown_list{
    /* display: flex;
    flex-direction: column; */
    display: none;
    position: absolute;
    z-index: 3;

}
.header1.dropdown li a:hover.dropdown_list{
    display: block;
}
.review_part{
    background-image: url('../images/');
}
.paragraph{
    padding: 30px;
    border-top-right-radius: 180px;
    position: relative;
    border: 3px solid #eef3fb;
    margin: 0 auto 40px;
    min-height: 332px;
    text-transform: inherit;
}
.paragraph::before{
    content: '\e906';
    font-family: icomoon;
    background-image: url('https://www.freeiconspng.com/thumbs/review-icon-png/review-icon-png-9.png');
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -13px;
    right: -5px;
    font-size: 100px;
    color: #dde8f7;
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
}
.paragraph::after{
    content: '';
    position: absolute;
    bottom: -18px;
    left: 80px;
    width: 65px;
    height: 35px;
    transform: skew(0deg,147deg) rotate(7deg);
    border-left: 3px solid #dde8f7;
    border-bottom: 3px solid #dde8f7;
    background: #fff;
}
.Section-image-gallery .first img{
    width: 100%;
}
.slider{
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
}
.grid-container {
    display: grid;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    grid-template-columns: auto auto auto auto;
  }
  
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    font-size: 30px;
  }
  .grid-item img{
    width: 100%;
    max-height: 100%;
  }
  .item1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
  }
  .item2{
    grid-column: 3;
    grid-row: 1;
  }
  .item3{
    grid-column: 4;
    grid-row: 1;
  }
  .item4{
    grid-column: 3;
    grid-row: 2;
  }
  .item5{
    grid-column: 4;
    grid-row: 2;
  }
  .item6{
    grid-column: 1;
    grid-row: 3;
  }
  .item7{
    grid-column: 2;
    grid-row: 3;
  }
  .item8{
    grid-column: 1;
    grid-row: 4;
  }
  .item9{
    grid-column: 2;
    grid-row: 4;
  }
  .item10{
    grid-column: 3 / span 4;
    grid-row: 3 / span 4;
  }
  

  
 