*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn-primary{
    background-color: #b72c27;
    border: none;
    min-width: 100px;
    border-radius: 5px;
    position: relative;
    min-height: 40px;
    overflow: hidden;
}
.btn-primary::after{
    content: '';
    position: absolute;
    background-color: aqua;
    color: #1a1a1a;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border: none;
}

.btn-primary:hover::after{
    width: 0;
}
.btn-primary:hover{
    background-color: #b72c27;
    color: #fff;
}
.btn-primary span{
    position: relative;
    z-index: 2;
}
.btn-primary span:nth-child(1){
    position: absolute;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary:hover span:nth-child(1){
    transform: translateY(-100%);
    color: #1a1a1a;
}
.btn-primary span:nth-child(2){
    position: absolute;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary:hover span:nth-child(2){
    transform: translateY(0);
    color: #1a1a1a;
}
