*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #eee;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add more styles as needed */
 }
